.page-header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #e3e3e3;
}

.page-header__row {
  @include container();
  display: flex;
  align-items: center;
  justify-content: space-between;
}
